.dashboard-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    background-color: #e0ebeb;
    padding: 20px;
    color: #24527a;
    font-family: 'Arial', sans-serif;
    max-width: 900px;
    height: 600px;
    width: 100%; 
    margin: 20px auto; 
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.dashboard-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    background-color: #ffffff;
    padding: 20px;
    color: #24527a;
    font-family: 'Arial', sans-serif;
    max-width: 900px;
    width: 100%; 
    margin: 20px auto; 
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


.dashboard-header {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
    color: #24527a;
}


.dashboard-buttons {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dashboard-buttons button {
    background-color: #24527a;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dashboard-buttons button:hover {
    background-color: #45a049;
}


.orders-list {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-height: 550px; 
    overflow-y: auto;
}


.orders-list ul {
    list-style: none;
    padding: 0;
}

.orders-list li {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.orders-list li:last-child {
    margin-bottom: 0;
}
