.manage-orders-wrapper{
    display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 70px;
      background-color: #e0ebeb;
      padding: 20px;
      color: #24527a;
      font-family: 'Arial', sans-serif;
      max-width: 900px;
      height: 600px;
      width: 100%; 
      margin: 20px auto; 
      border-radius: 8px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }


  .manage-orders-wrapper button{
    background-color: #24527a;
  }

  .customer-list{
    flex: 1;
    margin-right: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-height: 550px; 
    overflow-y: auto;
  }

  .customer-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .order-list{
    flex: 1;
    margin-right: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-height: 550px; 
    overflow-y: auto;
  }

  .order-list li {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 4px;
   
}

  .manage-orders-wrapper input {
    border: 1px solid #ddd; 
    background-color: #a7bcb9;
    border-radius: 4px; 
    font-size: 14px; 
}
.manage-orders-wrapper select {
    padding: 5px; 
    margin-bottom: 15px; 
    border: 1px solid #ddd; 
    background-color: #24527a;
    border-radius: 4px; 
    font-size: 14px; 
}

button:hover {
    background-color: #45a049;
}