.shopsite-wrapper{
    
    background-color: #e0ebeb;
    padding: 20px;
    color: #24527a;
    font-family: 'Arial', sans-serif;
    max-width: 900px;
    height: 600px;
    width: 100%; 
    margin: 20px auto; 
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


.shopsite-wrapper button{
    background-color: #24527a;
}



.shopsite-list {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    
    overflow-y: auto;
    max-width: 900;
}

.shopsite-list ul{
    display: grid; 
    grid-template-columns: repeat(5, 1fr); 
    gap: 15px; 
    border-radius: 8px;
    padding: 15px;
    max-height: 350px; 
    max-width: 900;
    overflow-y: auto; 
}

.shopsite-wrapper input {
    width: 100%; 
    padding: 5px; 
    margin-bottom: 15px; 
    border: 1px solid #ddd; 
    background-color: #a7bcb9;
    border-radius: 4px; 
    font-size: 14px; 
}
.shopsite-wrapper select {
    padding: 5px; 
    margin-bottom: 15px; 
    border: 1px solid #ddd; 
    background-color: #24527a;
    border-radius: 4px; 
    font-size: 14px; 
}

.shopsite-list li {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.shopsite-list li:last-child {
    margin-bottom: 0;
}

.shopsite-cart {
    background-color: #ffffff;
    padding: 20px;
    color: #24527a;
    font-family: 'Arial', sans-serif;
    max-width: 200px; 
    height: 400px; 
    width: 100%;
    position: fixed; 
    top: 20px; 
    right: 20px; 
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow-y: auto; 
}

.shopsite-cart li {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.shopsite-cart li:last-child {
    margin-bottom: 0;
}

.shopsite-cart button{
    margin-bottom: 10px;
}

.shopsite-properties-list  {
    list-style-type: disc; 
    margin-left: 20px; 
    padding-left: 20px;
    color: #24527a; 
}

.shopsite-properties-list li {
    margin-bottom: 1px; 
    border-radius: 0px;
    border: 0px solid #ddd;
}

.shopsite-properties-list li:last-child {
    margin-bottom: 0;
}